
.img{
    width: 100%;
    height: 500px;
    background: red;
    position: relative;
}
.img img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.product{
    width: 100%;
}
.product h2{
    text-align: center;
    padding: 40px 0 0 0 ;
    font-weight: 500;
    font-size: 25px;
}
.product ul{
    margin-top: 30px;
}
.product ul li{
    width: 33%;
    text-align: center;
    position: relative;
}
.product ul li img{
    width: 310px
}
.product ul li p{
    /* text-align: left; */
    font-size: 20px;
    color: red;
    
}
.product ul li h1{
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0 10px 0;
    color: #989898;
}
.means{
    justify-content: space-between
}
.ppd i{
    font-size: 20px;
    color: red;
    font-style: normal;
}
.textst{
      /* text-align: left; */
      font-size: 16px;
      color: #989898;
}
.ball_hot{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-image:linear-gradient(120deg,#ff3149,#ff64a6);
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    position: absolute;
    left:0px;
    top: -15px;
    
}
.ball_dep{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-image: linear-gradient(120deg,#2e74f6,#56bdf9);
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    position: absolute;
    left:0px;
    top: -15px;
    
}
.bottom{
    width: 100%;
    height: 250px;
    background: #999999;
    margin-top: 30px;
}
.site{
    margin-left:150px;
}
.relation{
    font-size: 16px;
    color: #fff;
    margin-top: 30px;

}
.borders{
    display: block;
    width: 400px ;
    height: 2px;
    background: #fff;
    margin-top: 20px;
}
.bottom ol{
    margin-top: 20px;
}
.bottom ol li{
   padding: 5px 0 5px 0; 
}
.bottom ol li a{
    font-size: 14px;
    color: #fff;
    
}
.put{
    text-align: center;
    margin-top: 20px;
}
.put p{
    font-size: 12px;
    color: #fff;
}
.put span{
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}
